main {
    padding-bottom: 100%;
    background-color: rgb(54, 54, 238);

}

.site-heading {
    color: rgb(255, 255, 255);
}

.form-movie {
    margin-top: 15px;
    padding: 65px 25px 65px 45px;
    border-radius: 45px;
    /* border: 2px solid rgb(0, 255, 238); */
    background-color: rgb(40, 78, 27);
}

.movies-search {
    outline: none;
}

.movies-item {

}

.content-wrapper {
    width: 250px;
    height: 390px;
    margin-top: 15px;
    padding: 25px;
    background-color: rgb(134, 134, 134);
    /* border: 3px solid rgb(1, 1, 1); */
    border-radius: 45px;
    overflow: auto;
}

.content-wrapper:hover {
    transform: scale(1.1);
    transition: ease 0.8s;
    cursor: pointer;
}

.js-item-img {
    width: 180px;
    height: 150px;
}

.movie-primier {
    color: #fff;
}

.js-movie-about {
    overflow: auto;
}

.js-movie-link {
    width: 150px;
    padding: 15px;
    background-color: #fff;
    border-radius: 45px;
}